[submodule "ros_ws/src/stomp"]
	path = ros_ws/src/stomp
	url = https://github.com/ros-industrial/stomp_ros.git
[submodule "ros_ws/src/iris_sami"]
	path = ros_ws/src/iris_sami
	url = ../iris_sami.git
[submodule "ros_ws/src/iris_ur10e"]
	path = ros_ws/src/iris_ur10e
	url = ../iris_ur10e.git
[submodule "ros_ws/src/gazebo-pkgs"]
	path = ros_ws/src/gazebo-pkgs
	url = ../../JenniferBuehler/gazebo-pkgs.git
[submodule "ros_ws/src/general-message-pkgs"]
	path = ros_ws/src/general-message-pkgs
	url = ../../JenniferBuehler/general-message-pkgs.git
[submodule "ros_ws/src/fmauch_universal_robot"]
	path = ros_ws/src/fmauch_universal_robot
	url = ../../fmauch/universal_robot.git
[submodule "ros_ws/src/Universal_Robots_ROS_Driver"]
	path = ros_ws/src/Universal_Robots_ROS_Driver
	url = ../../UniversalRobots/Universal_Robots_ROS_Driver.git
