<?xml version="1.0" ?>
<robot name="calibration_chess_pattern" xmlns:xacro="http://ros.org/wiki/xacro">
 <xacro:macro name="target_chess" params="parent prefix *origin">
    <joint name="${prefix}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}_frame"/>
    </joint>
  <link name="${prefix}_frame">
    <inertial>
      <mass value="0"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="calibration_chess_pattern__collision">
      <origin rpy="0  0  0" xyz="0   0   0"/>
      <geometry>
        <mesh filename="package://ur_e_description/meshes/calibration_target_chess/chess_pattern.stl" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
    <visual name="calibration_chess_pattern__visual">
      <origin rpy="0  0  0" xyz="0   0   0"/>
      <geometry>
        <mesh filename="package://ur_e_description/meshes/calibration_target_chess/chess_pattern.dae" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
  </link>
 </xacro:macro>
</robot>
