<?xml version="1.0" ?>
<launch>

    <!-- Launch service which is called to to indicate scene is ready   -->
    <node pkg="industrial_extrinsic_cal" type="trigger_service" name="rosSceneTrigger" output="screen" />

    <!-- Launch service which is called to to indicate scene is ready   -->
    <node pkg="industrial_extrinsic_cal" type="ros_robot_trigger_action_service" name="rosRobotSceneTrigger" output="screen" />

    <!-- Launch the extrinsic calibration service -->
    <node pkg="industrial_extrinsic_cal" type="service_node" name="calibration_service_node" output="screen" >
        <rosparam>
        yaml_file_path: "/home/fabio/Dropbox/Universidade/Bolsa/shared-ect/ros_ws/src/cork_iris/yaml/"
        camera_file: "kinect_camera_def.yaml"
        target_file: "checkerboard7x9_target.yaml"
        cal_job_file: "ur10_kinect_caljob.yaml"
        results_file: "/home/fabio/Dropbox/Universidade/Bolsa/shared-ect/ros_ws/src/cork_iris/yaml/results.launch"
        </rosparam>
    </node>

</launch>