<launch>
    <!-- Robot Node -->
    <include file="$(find iris_ur10e)/launch/live.launch"/>

    <!-- Camera Node -->
    <arg name="box" default="false"  doc="If true sets nodes for box setup"/>
    
    <!-- <group if="$(arg box)">
        <include file="$(find cork_iris)/launch/kinect_launch.launch">
        </include>
    </group>
    <group unless="$(arg box)">
        <include file="$(find astra_camera)/launch/astra.launch">
        </include>
    </group> -->

    <!-- Calibration Node -->
    <arg name="calibrate" default="false"  doc="If true launches calibrate node, else launches the publish calibration node"/>

    <group if="$(arg calibrate)">
        <include file="$(find iris_cork)/launch/handeye_calibrate.launch"/>
    </group>
    <group unless="$(arg calibrate)">
        <include file="$(find iris_cork)/launch/handeye_publish.launch"/>
    </group>

    <!-- Scenes Node -->
    <node pkg="iris_cork" type="setup_scene.py" name="setup_scene" output="screen" />
</launch>