<?xml version="1.0"?>
<launch>

    <!-- IRIS UR10e withoit rviz -->
    <include file="$(find iris_ur10e)/launch/live.launch">
        <arg name="rviz" value="false"/>
    </include>

    <!-- Custom RViz -->
    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
        args="-d $(find iris_cork)/launch/iris_cork.rviz" output="screen">
        <rosparam command="load" file="$(find ur10e_moveit_config)/config/kinematics.yaml"/>
    </node>

    <!-- IRIS Sami GUI Launcher -->
    <include file="$(find iris_sami)/launch/iris_sami.launch"/>

</launch>