<?xml version="1.0"?>
<launch>

    <arg name="sim" default="false" doc="Launch a simulated environment for the ur10e"/>
    <arg name="gui" default="false" doc="Starts gazebo gui" />

    <arg name="moveit"  default="true" doc="Use MoveIt for motion planning"/>
    <arg name="rviz"    default="true" doc="Launch RViz with movit planner plugin"/>

    <include unless="$(arg sim)" file="$(find ur_robot_driver)/launch/ur10e_bringup.launch">
        <arg name="robot_ip" value="10.1.0.2"/>
    </include>

    <include if="$(arg sim)" file="$(find ur_e_gazebo)/launch/ur10e.launch">
        <arg name="gui"     value="$(arg gui)"/>
    </include>

    <group if="$(arg moveit)">
        <include file="$(find ur10e_moveit_config)/launch/ur10e_moveit_planning_execution.launch">
            <arg name="sim"     value="$(arg sim)"/>
        </include>
        <include if="$(arg rviz)" file="$(find ur10e_moveit_config)/launch/moveit_rviz.launch"/>
    </group>

</launch>

